
.bg-eventol {
  background-color: $eventol-color;
}

.bg-active {
  background-color: $active-color;
}

.border-eventol {
  border-color: $eventol-color;
}

.border-active {
  border-color: $active-color;
}

.text-eventol {
  color: $eventol-color;
}

.text-active {
  color: $active-color;
}

.eventol-color {
  color: $eventol-color;
}

.active-color {
  color: $active-color;
}

.font-eventol {
  font-family: 'Lobster', cursive !important;
  font-weight: 500;
}