[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = ">=3.0.6"
django-environ = ">=0.4.5"
django-configurations = ">=2.2"
django-webpack-loader = ">=0.7.0"

[requires]
python_version = "3.7"
