.bg-eventol {
  background-color: $eventol-color;
}

.border-eventol {
  border-color: $eventol-color;
}

.text-eventol {
  color: $eventol-color;
}

.eventol-color {
  color: $eventol-color;
}

.font-eventol {
  font-family: 'Lobster', cursive !important;
  font-weight: 500;
}