<!doctype html>
{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="EventoL Organization">
    <meta name="viewport" content="width=device-width, user-scalable=no, shrink-to-fit=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Event Management Software">
    <meta name="theme-color" content="#1f6879">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static "assets/icons/ms-icon-144x144.png" %}">

    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
    <link type="image/x-icon" rel="icon" href="{% static "assets/icons/favicon.ico" %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "assets/icons/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "assets/icons/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "assets/icons/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "assets/icons/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "assets/icons/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "assets/icons/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "assets/icons/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "assets/icons/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "assets/icons/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "assets/icons/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "assets/icons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "assets/icons/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "assets/icons/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "assets/icons/manifest.json" %}">

    <title>EventoL</title>

    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
  </head>
  <body>
    <div id="root"></div>

    {% render_bundle 'vendors' %}
    {% render_bundle 'base' %}
    {% render_bundle 'Home' %}
    <script>
      {% get_available_languages as languages %}
      {% if languages %}
        var languages = [
          {% for lang_code, lang in languages %}
            {code: '{{ lang_code }}', name: '{{ lang }}'},
          {% endfor %}
        ];
      {% endif %}
      
      window.render_components({
        {% if languages %}
          languages: languages,
          onChangeLanguage: function change_lang(language_code) {
            $.post(
              "{% url 'set_language' %}",
              {language: language_code, csrfmiddlewaretoken: "{{ csrf_token }}"},
              function(data, status, xhr) {
                location.reload();
              }
            );
          },
        {% endif %}
      });
    </script>
  </body>
</html>
